* {
    -fx-text-fill: black;
}

.tab-header-area {
    -fx-padding: 0px 0px 0px 0px;
}

.tab {
    -fx-border-width: 1 1 0 1;
    -fx-border-color: gray;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

*.tab-header-background {
    -fx-background-color: white;
    -fx-border-width: 2 0 0 0;
    -fx-border-color: #E2E2E2;
}

.text-area {
    -fx-font-size: 12px;
    -fx-border-width: 2 2 2 0;
    -fx-border-color: gray;
    -fx-background-color: white;
    -fx-faint-focus-color: transparent;
}

.menu:hover, .menu:showing, .menu-item:focused {
    -fx-background-color: #E2E2E2;
}

#line-box {
    -fx-background-color: #DEDEDE;
    -fx-border-width: 2 0 2 2;
    -fx-border-color: gray;
}

#text-menu-bar, #icon-tool-bar {
    -fx-background-color: transparent;
    -fx-faint-focus-color: transparent;
}

